^{:watch-dirs ["src/cljs" "src/cljc"]}
{
 :output-dir "target/public/js/app"
 :asset-path "/js/app"

 :modules {:common {:entries #{adx-billing.common.util}}
           :auth {:entries #{adx-billing.auth.login}}
           :auth-validate {:entries #{adx-billing.auth.validate}}
           :user {:entries #{adx-billing.user.user}}
           }
 }
