^{:watch-dirs ["src/cljs" "src/cljc"]}
{
 :output-dir "target/public/js/app"
 :asset-path "/js/app"

 :modules {:util {:entries #{adx-billing.common.util}}
           :page-el {:entries #{adx-billing.common.page-el}}
           :listing {:entries #{adx-billing.common.listing}}
           :auth {:entries #{adx-billing.auth.login}}
           :auth-validate {:entries #{adx-billing.auth.validate}}
           :aff {:entries #{adx-billing.aff.aff}}
           :aff-validate {:entries #{adx-billing.aff.validate}}
           :user {:entries #{adx-billing.user.user}}
           :user-validate {:entries #{adx-billing.user.validate}}
           }
 }
