$shadow-nav-item: 2px 4px 8px rgba(0, 0, 0, 0.5);
$shadow-content-tab: 0 8px 16px rgba(0, 0, 0, 0.5);
$shadow-listing-actions: 0 -2px 16px rgba(0, 0, 0, 0.1);

$shadow-add-approval: 2px 2px 8px rgba(0, 0, 0, 0.6);
$shadow-add-approval-hover: 2px 8px 4px rgba(0, 0, 0, 0.3);

$shadow-report-navbar-dropdown: 2px 2px 8px rgba(0, 0, 0, 0.3);
