$sidebar-width: 200px;
$main-width-desktop: 1024px - $sidebar-width;

// TODO Move to layout/app.scss
body {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  align-items: stretch;

  > header {
    flex: 0 0 100%;
  }

  > aside {
    flex: none;
    align-self: stretch;
  }

  > section {
    @include desktop {
      min-width: $main-width-desktop;
    }

    flex: 1 1 0;
    min-height: 100vh;
    max-width: 100vw;
  }
}

//  Main application shell navbar
.navbar.main-navbar {
  background-color: transparent;
  transition: background .4s, backdrop-filter .4s;

  &.is-away-from-top {
    background-color: color('black', 'opacity', 0.4);
    backdrop-filter: blur(0.75rem);
  }

  .navbar-start {
    margin-left: .5rem;
  }

  .navbar-brand-title {
    width: $sidebar-width;

    img {
      padding-left: 1.5rem;
      padding-right: .25rem;
    }

    strong {
      margin-top: -.25rem;
      padding-right: .75rem;
    }
  }

  .navbar-burger,
  .navbar-item,
  .navbar-item strong {
    color: color('white', 'base');
  }

  .navbar-item.has-dropdown {
    &.is-active,
    &:focus,
    &:hover {
      .navbar-link {
        background-color: color('white', 'opacity', 0.3);
      }
    }
  }

  // Opaque search bar
  .navbar-search {
    .is-material {
      border-bottom: 1px solid color('white', 'opacity', .3);
      transition: border .2s;

      &:hover {
        border-bottom: 1px solid color('white', 'opacity', .6);
      }

      &:focus,
      &:focus-within, {
        border-bottom: 1px solid color('white', 'base');
      }

      .input,
      .button {
        background-color: transparent;
        border-radius: 0;
        border-width: 0;
        box-shadow: none;

        &:focus {
          box-shadow: none;
        }
      }

      .input,
      .input::placeholder,
      .button {
        color: color('white', 'base');
      }
    }
  }

  .navbar-welcome {
    flex-direction: row;
    align-items: center;
    text-align: right;

    a {
      @extend %text-medium;
      text-decoration: none;
      color: color('white', 'opacity', 0.8);
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
        color: color('white', 'base');
      }
    }
  }

  .navbar-link {
    transition: background-color .2s, color .2s;
    color: color('white', 'base');
  }

  .navbar-dropdown {
    top: 4rem;
    background-color: color('black', 'opacity', 0.4);
    border-radius: 0;

    .navbar-item:focus,
    .navbar-item:hover {
      background-color: color('white', 'opacity', 0.2);
      color: color('white', 'base');
    }
  }
}

.menu.sidebar-menu {
  width: $sidebar-width;

  .menu-list {
    position: sticky;
    top: 4rem;
  }

  .menu-list li {
    > ul {
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      margin-left: 1.5rem;
    }

    // Sliding sub-menus
    > ul > li {
      max-height: 0;
      overflow-y: hidden;
      transition: max-height 0.2s;
    }

    &:active,
    &:focus,
    &:focus-within,
    &:hover {
      > ul > li {
        max-height: 52px;
      }
    }

    &:active,
    &:focus,
    &:focus-within {
      background-color: color('white', 'opacity', 0.1);
    }

    a {
      padding: 1em;
      color: color('white', base);
      border-radius: 0;

      .icon {
        margin-right: 0.25em;
      }

      &:hover {
        background-color: color('blue', 'lighten', 20);
      }
    }
  }
}
