<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">
        <meta name="language" content="en-EN" />

        <title>Welcome to adx-billing</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- styles -->
        {% style "/css/main.css" %}
        {% style "/assets/material-icons/css/material-icons.min.css" %}
    </head>
    <body>

        <header class="hero">
            <div class="hero-head">
                <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item is--brand" href="/"><span class="icon is-medium"><i class="fa fa-superpowers"></i></span>adx-billing</a>
                    </div>

                    <div class="navbar-menu navbar-end" id="navMenu">
                        <a class="navbar-item nav-tag">
                            <span class="icon is-small">
                                <i class="fa fa-envelope-o"></i>
                            </span>
                            <span class="tag is-primary tag-notif">6</span>
                        </a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <figure class="image is-32x32" style="margin-right:.5em;">
                                    <img src="https://www.gravatar.com/avatar/92cb80ae99475273147202fe67407662">
                                </figure>
                                adeel
                            </a>

                            <div class="navbar-dropdown is-right">
                                <a class="navbar-item">
                                    <span class="icon is-small">
                                        <i class="fa fa-user-o"></i>
                                    </span>
                                    &nbsp; Profile
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item" href="/logout">
                                    <span class="icon is-small">
                                        <i class="fa fa-power-off"></i>
                                    </span>
                                    &nbsp; Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <div class="wrapper">
            <div class="columns">
                <aside class="column is-2 aside">
                    <nav class="menu">
                        <p class="menu-label">
                            General
                        </p>
                        <ul class="menu-list">
                            <li><a class="navbar-item{% ifequal page "guest/list.html" %} is-active{%endifequal%}" href="/">Guests</a></li>
                            <li><a class="navbar-item{% ifequal page "user/user-list.html" %} is-active{%endifequal%}" href="/user/list">Users</a></li>
                            <li><a class="navbar-item{% ifequal page "about.html" %} is-active{%endifequal%}" href="/about">About</a></li>
                        </ul>
                    </nav>
                </aside>

                <main class="column main">
                    <section class="section">
                        <div class="container is-fluid">
                            {% block content %}
                            {% endblock %}
                        </div>
                    </section>
                </main>
            </div>
        </div>

        {% block page-scripts %}
        {% endblock %}
    </body>
</html>
