<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">
        <meta name="language" content="en-EN" />

        <title>Welcome to adx-billing</title>

        <!-- styles -->
        {% style "/css/start.css" %}
    </head>
    <body class="has-navbar-fixed-top">

        <header>
            <nav class="main-navbar navbar is-fixed-top" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-brand-title navbar-item">
                        <asset:image src="adxios-brand-white.svg" />
                        <strong>TMS</strong>
                    </div>
                    <a class="navbar-burger burger" role="button" aria-label="menu" aria-expanded="false" data-target="main-navbar-menu">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div class="navbar-menu" id="main-navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-search navbar-item">
                            <form action="/docSearch">
                                <div class="field has-addons is-material">
                                    <div class="control is-expanded">
                                        <input type="text" class="input" name="docNo" value="" placeholder="Search" />
                                    </div>
                                    <div class="control">
                                        <button type="submit" class="button">
                                            <span class="fa fa-search" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-welcome navbar-item">
                            <span>
                                <p><sec:loggedInUserInfo field="affName"/></p>
                                <p>
                                    <strong>
                                        Welcome, <sec:loggedInUserInfo field="displayName"/>
                                    </strong>
                                </p>
                            </span>
                        </div>
                        <div class="navbar-profile navbar-item has-dropdown">
                            <div class="navbar-link is-arrowless">
                                <span class="icon is-medium"><span class="fa fa-2x fa-user-circle"></span></span>
                            </div>
                            <div class="navbar-dropdown is-boxed is-right" id="navbar-dropdown">
                                <g:link class="navbar-item" namespace="settings" controller="user" action="editProfile">
                                    <span class="icon is-medium"><span class="fa fa-lg fa-cog"></span></span>
                                    <span>User Profile</span>
                                </g:link>
                                <hr class="navbar-divider">
                                <g:link class="navbar-item" url="/logoff">
                                    <span class="icon is-medium"><span class="fa fa-lg fa-sign-out-alt"></span></span>
                                    <span>Logout</span>
                                </g:link>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <aside class="sidebar-menu menu is-hidden-touch">
            <ul class="menu-list">
                <li><a class="navbar-item{% ifequal page "guest/list.html" %} is-active{%endifequal%}" href="/">Guests</a></li>
                <li><a class="navbar-item{% ifequal page "user/user-list.html" %} is-active{%endifequal%}" href="/user/list">Users</a></li>
                <li><a class="navbar-item{% ifequal page "about.html" %} is-active{%endifequal%}" href="/about">About</a></li>
            </ul>
        </aside>

        <section class="main-section section">

            <div class="main-container container is-fluid">

                {% block content %}
                {% endblock %}

            </div>

        </section>

        {% block page-scripts %}
        {% endblock %}
    </body>
</html>
