{% extends "lax-base.html" %}

{% block title %}
<title>Login to Adxios e-Billing</title>
{% endblock %}

{% block title %}
<style></style>
{% endblock %}

{% block side %}
<!-- <g:if test="${anns}">
     <g:render template="announcement"/>
     </g:if> -->
{% endblock %}

{% block content %}
<input id="token" type="hidden" value="{{csrf-token}}">
<div id="content"></div>
{% endblock %}

{% block page-scripts %}
{% script "/js/app/cljs_base.js" %}
{% script "/js/app/adx_billing/auth/login.js" %}
{% endblock %}
